Pinecone Workflow (feed data to Pinecone).json
{
  "name": "UBA manual to Pinecone",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1UJ2o9uGWa1kL9rLzZqCzBgxnmHhtNNyi",
          "mode": "list",
          "cachedResultName": "UBA Product Manual",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1UJ2o9uGWa1kL9rLzZqCzBgxnmHhtNNyi"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        736,
        368
      ],
      "id": "addcd304-6ab0-4711-8611-71bcdb81b20e",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "eBw7empJI2kwKj9d",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        960,
        368
      ],
      "id": "ae40bb6b-0520-47a4-aebe-5b027f8660c0",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "eBw7empJI2kwKj9d",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "ubamanual",
          "mode": "list",
          "cachedResultName": "ubamanual"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        1184,
        368
      ],
      "id": "6734994b-4081-4f94-8ccf-5756b1c834eb",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "jszIcZv0LsWq0jPf",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1120,
        576
      ],
      "id": "a8a5046e-28e8-4059-8af5-3e8c0110173c",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "G87I7Y78FF5JSmXH",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1248,
        576
      ],
      "id": "49e2a4cd-ac96-49a8-bda3-195cb6f42642",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 20,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1392,
        704
      ],
      "id": "9470dd81-d154-45e0-b375-9330e5ce8c75",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "804eb6b1-c1be-456f-a708-b9a38b559fd8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "732e39a46be1f50b304218f9c183364fb6d2c6bfac1f88240eb4a91cc67f1898"
  },
  "id": "KVTRRuwittW1UAMtDl7Mq",
  "tags": []
}